<div class="auth-modal-overlay" [class.active]="isRegisterModalOpen">
      <div class="background-overlay" style="--bg-image: url('assets/images/linkpattern.png')"></div>

  <div class="auth-modal" [class.active]="isRegisterModalOpen">

    <form class="theme-form login-form auth-modal-form" [formGroup]="registerForm" (ngSubmit)="submitForm()">


          <strong><h4 *ngIf="userType === 'student'">Student Registration</h4></strong>
         <strong><h4 *ngIf="userType === 'company'">Company Registration</h4></strong>


          <!-- STUDENT-SPECIFIC FIELDS -->
          <div *ngIf="userType === 'student'">
            <div class="form-group">
              <label>Username</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                <input class="form-control" type="text" formControlName="username" placeholder="foulen" />
              </div>
            </div>
<div class="form-row">

            <div class="form-group">
              <label>Birthday</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-calendar"></i></span>
                <input class="form-control" type="date" formControlName="birthday" />
              </div>
            </div>
</div>
            <div class="form-group">
              <label>Gender</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                <select class="form-control" formControlName="gender">
                  <option value="">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
<div class="form-row">

            <div class="form-group">
              <label>Phone</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-phone"></i></span>
                <input class="form-control" type="tel" formControlName="phoneNumber" placeholder="+216..." />
              </div>
            </div>
</div>
             <div class="form-group">
            <label>Email Address</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
              <input class="form-control" type="email" formControlName="email" placeholder="test@gmail.com" />
            </div>
          </div>

          </div>

          <!-- COMPANY-SPECIFIC FIELDS -->
          <div *ngIf="userType === 'company'">
            <div class="form-group">
              <label>Company Name</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-building"></i></span>
                <input class="form-control" type="text" formControlName="username" placeholder="Company Inc." />
              </div>
            </div>
<div class="form-row">

            <div class="form-group">
              <label>Location</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-location-pin"></i></span>
                <input class="form-control" type="text" formControlName="location" placeholder="Tunis, Tunisia" />
              </div>
            </div>
</div>
            <div class="form-group">
              <label>Tax Number</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-notepad"></i></span>
                <input class="form-control" type="text" formControlName="taxNumber" />
              </div>
            </div>
<div class="form-row">

            <div class="form-group">
              <label>Agent First Name</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                <input class="form-control" type="text" formControlName="agentName" />
              </div>
            </div>
</div>
            <div class="form-group">
              <label>Agent Last Name</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                <input class="form-control" type="text" formControlName="agentLastname" />
              </div>
            </div>
<div class="form-row">

            <div class="form-group">
              <label>Agent Email</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
                <input class="form-control" type="email" formControlName="agentEmail" />
              </div>
            </div>
          </div>
</div>
          <!-- COMMON FIELDS -->
          
<div class="form-row">

          <div class="form-group">
            <label>Password</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" [type]="show ? 'text' : 'password'" formControlName="password" placeholder="*********" />
              <div class="show-hide" (click)="showPassword()">
                <span>{{ show ? 'Hide' : 'Show' }}</span>
              </div>
            </div>
          </div>

          </div>
<div class="form-row">

          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              Create Account
            </button>
          </div>
</div>
                    <p>Already have an account?<a class="ms-2" href="authentication/login/login-simple">Sign in</a></p>

        </form>

      </div>
    </div>





