<div>
   <div class="card">
     <div class="card-header pb-0">
       <div class="media">
         <div class="media-body">
           <h5>Recent Activity</h5>
         </div>
         <div class="icon-box onhover-dropdown"> <app-feather-icon [icon]="'more-horizontal'"></app-feather-icon>
           <div class="icon-box-show onhover-show-div">
             <ul> 
               <li> <a>
                    Done</a></li>
               <li> <a>
                    Pending</a></li>
               <li> <a>
                    Rejected</a></li>
               <li> <a>In Progress</a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="card-body">
       <div class="activity-media">
         <div class="media">
           <div class="recent-circle bg-primary"></div>
           <div class="media-body">
             <h6 class="font-roboto">Micron to build largest chip factory in US history.</h6><span><i class="me-2" data-feather="clock"></i><span class="font-roboto">25 July 2022 | 20 hours ago</span></span>
           </div>
         </div>
         <div class="media">
           <div class="recent-circle bg-primary"></div>
           <div class="media-body">
             <h6 class="font-roboto">Share A Case Study On One Of Your Customers.</h6><span><i class="me-2" data-feather="clock"></i><span class="font-roboto">20 june 2022 | 20 minute ago</span></span>
           </div>
         </div>
         <div class="media">
           <div class="recent-circle bg-primary"></div>
           <div class="media-body">
             <h6 class="font-roboto">Renewed account with this new plan</h6><span><i class="me-2" data-feather="clock"></i><span class="font-roboto">10 Jan 2022 | 02 Days ago</span></span>
           </div>
         </div>
         <div class="media">
           <div class="recent-circle bg-primary"></div>
           <div class="media-body">
             <h6 class="font-roboto">Open Pull request #256.</h6><span><i class="me-2" data-feather="clock"></i><span class="font-roboto">12 Feb 2022 | 08 hours ago</span></span>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>