<div class="container-fluid filter-page">
  <div class="row learning-block">
    <div class="col-xl-9 xl-60 box-col-8">
      <div class="academic-projects">
        <h3 class="section-title">Projets et Expériences Académiques</h3>

        <ul class="projects-list">
          <li>
            <strong>Système de recommandation pour site e-commerce</strong><br />
            Recommandation hybride basée sur le contenu (TF-IDF) et le filtrage collaboratif
          </li>
          <li>
            <strong>Site web de gestion de dons pour projets caritatifs</strong><br />
            Python, PHP, JS, MySQL<br />
            Développement d’un site web multi-utilisateurs permettant la gestion de projets caritatifs et de dons en ligne
          </li>
          <li>
            <strong>Dashboard AIESEC pour stages internationaux</strong><br />
            AppScript, Looker Studio<br />
            Développement d’un tableau de bord web pour visualiser les offres AIESEC destinées aux candidats étrangers
          </li>
          <li>
            <strong>Application de gestion de quiz multi-utilisateurs</strong><br />
            Java<br />
            Développement d’une application de gestion de quiz en programmation orientée objet, destinée aux enseignants et étudiants
          </li>
          <li>
            <strong>Jeu de cryptage</strong><br />
            Projet explorant les différentes structures de données, problèmes de complexité et techniques d’optimisation
          </li>
          <li>
            <strong>Autres Projets</strong><br />
            Maquette UX/UI food delivery (Figma), simulation bureau intelligent (Cisco), gestionnaire de garderie (VB.NET)
          </li>
        </ul>
      </div>
    </div>

    
  </div>
</div>
