<app-breadcrumb [title]="'Ecommerce'" [items]="['Dashboard']" [active_item]="'Ecommerce'"></app-breadcrumb>
<div class="container-fluid ecommerce-dash">
   <div class="row">
    <div class="col-xxl-3 col-xl-4 col-md-6 box-col-4a">
      <app-sales-stats></app-sales-stats>
    </div>
     <div class="col-xxl-5 col-xl-4 col-md-6 box-col-4a">
       <app-invoice-overview></app-invoice-overview>
     </div>
    <div class="col-xxl-4 col-md-6 col-xl-4 box-col-5">
      <app-hot-selling-products></app-hot-selling-products>
    </div>
    <div class="col-xl-5 col-md-6 col-lg-6 dash-39">
     <app-recent-orders></app-recent-orders>
    </div>
    <div class="col-xl-4 col-md-6 dash-29">
      <app-our-activities></app-our-activities>
    </div>
    <div class="col-xl-3 col-md-6 dash-32">
      <app-revenue-by-category></app-revenue-by-category>
    </div>
    <div class="col-xl-5 col-md-12 dash-lgorder-1 dash-lg-100 dash-39 box-col-12">
      <app-product-discount></app-product-discount>
    </div>
    <div class="col-xl-4 col-md-6 col-lg-6 dash-29 dash-lg-50 box-col-6">
      <app-support></app-support>
    </div>
    <div class="col-xl-4 col-md-6 col-lg-6 dash-31 dash-lg-50 box-col-6">
      <app-total-sale></app-total-sale>
    </div>
   </div>
 </div>