<app-breadcrumb [title]="'Acceuil'"  [active_item]="'Acceuil'"></app-breadcrumb>
<div class="container-fluid default-dash">
  <div class="row"> 
  <div class="col-xl-6 col-md-6 col-lg-12">
      <app-get-started></app-get-started>
    </div>
  </div>
  <div class="row"> 

    <div class="col-xl-4 col-md-6">
      <app-news-and-update></app-news-and-update>
    </div>
    <div class="col-xl-4 col-md-6">
      <app-ongoing-project></app-ongoing-project>
    </div>
    <div class="col-xl-4 col-md-6">
      <app-recent-activity></app-recent-activity>
    </div>
  </div>
</div>
