<div class="auth-modal-overlay active"> <!-- add/remove 'active' class to show/hide -->
      <div class="background-overlay" style="--bg-image: url('assets/images/linkpattern.png')"></div>

  <div class="auth-modal active">

    <div class="choose-register">
      <h2 class="choose-register-title">Register as</h2>
      <div class="choose-register-buttons">
        <button class="btn btn-student" (click)="goToStudentRegister()">Student</button>
        <button class="btn btn-company" (click)="goToCompanyRegister()">Company</button>
      </div>
    </div>
  </div>
</div>
