strong {
        color: #521869;
        font-weight: 700;
        font-size: 1.1rem;
      
    }
p {
        margin-bottom: 1.25rem;
      font-size: 1rem;
      color: #2c3e50; // dark text color
      
    }

      