<app-breadcrumb [title]="'Mon CV'"  [active_item]="'Mon CV'"></app-breadcrumb>
<div class="container-fluid blog-page filter-page">
   <div class="row learning-block">
     <div class="col-xl-9 xl-60 box-col-7">                   
       <div class="blog-single">
         <div class="blog-box blog-details">
           <div class="card">
             <div class="card-body">
                 
                 <strong><h4>Introduction</h4></strong>
                 <div class="single-blog-content-top">
                  <p> Étudiante en 2ème année BusinessIntelligence à l’ISGT, je bénéficie d’une formation riche et variée dans le domaine de l’IT. Cette
 diversité m’a permis d’explorer plusieurs aspects du secteur. Je suis à la recherche d’un stage d’été qui me permette d’appliquer
 mesconnaissances, d’observer et d’évoluer dans un environnement professionnel stimulant et enrichissant</p>
                 </div>
               
             </div>
           </div>
         </div>
         <div class="card comment-box">
          <app-comment-box></app-comment-box> 
         </div>
       </div>
     </div>
     <div class="col-xl-3 xl-40 box-col-5">            
       <app-learning-filter></app-learning-filter>
     </div>
   </div>
 </div>