<div class="container">
  <div class="auth-modal-overlay" [class.active]="isLoginModalOpen">
    <div class="background-overlay" style="--bg-image: url('assets/images/linkpattern.png')"></div>

  <div class="auth-modal" [class.active]="isLoginModalOpen">

    <!-- Your login form here -->
    <form class="theme-form login-form auth-modal-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <h4 class="auth-modal-title">Login</h4>
      <h6 class="auth-modal-subtitle">Welcome back! Log in to your account.</h6>
          <div class="form-group">
            <label>Username</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-esername"></i></span>
              <input class="form-control" type="username" placeholder="your username" formControlName="username" />
              <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid" class="text text-danger mt-1">
                  <small *ngIf="loginForm.controls['username'].errors?.['required']">Username is required.</small>
                  <small *ngIf="loginForm.controls['username'].errors?.['minlength']">Username must be at least 3 characters.</small>
                </div>
              </div>
            </div>
          <div class="form-group">
            <label>Password</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" [type]="show ? 'text' : 'password'" formControlName="password" required=""
                placeholder="*********" />
              @if (show) {
              <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
              } @else {
              <div class="show-hide" (click)="showPassword()"><span class="show"></span></div>
              }
              @if (loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']) {
              <div class="text text-danger mt-1"> Password is required </div>
              }
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox ms-1">
              <input id="checkbox1" type="checkbox" />
              <label for="checkbox1">Remember password</label>
            </div><a class="link" [routerLink]="'/authentication/forgot-password'">Forgot password?</a>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" [disabled]="!loginForm.valid" (click)="login()"
              type="button"><span>Sign In</span> </button>
          </div>
          
          <p>Don't have account?<a class="ms-2" [routerLink]="['/register']">Create Account</a>

          </p>
        </form>
      
  </div>
</div>

