<div class="card candlestick-chart">     
   <div class="card-body">
     <div id="candlestick-chart">
      <apx-chart
         [series]="candlestick.series"
         [chart]="candlestick.chart" 
         [xaxis]="candlestick.xaxis"
         [plotOptions]="candlestick.plotOptions"
         [yaxis]="candlestick.yaxis"
         [grid]="candlestick.grid"
         [legend]="candlestick.legend"
         [colors]="candlestick.colors">
      </apx-chart>
     </div>
     <div class="candlestick-detail">
       <h3>50 / 100</h3>
       <h4> Total 80,52, 225 $</h4>
     </div>
   </div>
 </div>