<div class="card">
    <div class="card-body">
        <div class="product-info">
            <h4>Description</h4>
            <form class="form theme-form">
                <div class="product-group">
                    <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label class="form-label" for="exampleFormControlInput1">Product Name</label>
                            <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Enter product name">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <div>
                            <label class="form-label" for="exampleFormControlTextarea2">Product Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="Enter product description"></textarea>
                          </div>
                        </div>
                    </div>
                </div>
            </form>
            <h4 class="mt-4">Category</h4>
            <form class="form theme-form">
                <div class="product-group">
                    <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label class="form-label" for="exampleFormControlSelect3">Product Category</label>
                            <select class="form-select" id="exampleFormControlSelect3">
                              <option>Man's Shirt</option>
                              <option>Man's Jeans</option>
                              <option>Women T-shirt</option>
                              <option>Shoes</option>
                              <option>Women Skirt</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="mb-3">
                            <label class="form-label" for="exampleFormControlSelect4">Brand</label>
                            <select class="form-select" id="exampleFormControlSelect4">
                              <option>Levi's</option>
                              <option>Hudson</option>
                              <option>Denizen</option>
                              <option>Spykar</option>
                              <option>Diesel</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                              <label class="form-label" for="exampleFormControlSelect5">Color</label>
                              <select class="form-select" id="exampleFormControlSelect5">
                                <option>Red</option>
                                <option>Blue</option>
                                <option>White</option>
                                <option>Black</option>
                                <option>Green</option>
                              </select>
                            </div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="exampleFormControlSelect5">Quality</label>
                              <select class="form-select" id="exampleFormControlSelect5">
                                <option>Brand New</option>
                                <option>Second Hand</option>
                                <option>Both Quality</option>
                              </select>
                            </div>
                          </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>