<div class="card our-activities">
   <div class="card-header card-no-border">
     <div class="media media-dashboard">
       <div class="media-body"> 
         <h5 class="mb-0">Our Activities      </h5>
       </div>
       <div class="icon-box onhover-dropdown"> <app-feather-icon [icon]="'more-horizontal'"></app-feather-icon>
         <div class="icon-box-show onhover-show-div">
           <ul> 
             <li> <a>
                 Latest </a></li>
             <li> <a>
                 Earlist</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
   <div class="card-body pt-0">
     <div class="table-responsive">
       <table class="table table-bordernone">                          
         <tbody> 
           <tr>
             <td>
               <div class="media">
                 <div class="icon-wrappar"><i class="fa fa-trophy font-primary">                                    </i></div>
                 <div class="media-body"><a href="#">
                     <h5>Win best seller of the year awarded </h5></a>
                   <p>Company, San Francisco</p>
                 </div>
               </div>
             </td>
             <td><span class="badge badge-light-theme-light font-theme-light">1 day ago</span></td>
           </tr>
           <tr>
             <td>
               <div class="media">
                 <div class="icon-wrappar"><i class="fa fa-check-circle font-secondary">                                   </i></div>
                 <div class="media-body"><a href="#">
                     <h5>Apporved our product</h5></a>
                   <p>Elisse joson, San Francisco</p>
                 </div>
               </div>
             </td>
             <td><span class="badge badge-light-theme-light font-theme-light">2 weeks ago</span></td>
           </tr>
           <tr>
             <td>
               <div class="media">
                 <div class="icon-wrappar"><i class="fa fa-bookmark font-success">                                    </i></div>
                 <div class="media-body"><a href="#">
                     <h5>Win best seller of the year awarded </h5></a>
                   <p>Company, San Francisco</p>
                 </div>
               </div>
             </td>
             <td><span class="badge badge-light-theme-light font-theme-light">3 day ago</span></td>
           </tr>
           <tr>
             <td>
               <div class="media">
                 <div class="icon-wrappar"><i class="fa fa-shopping-basket font-warning">                                     </i></div>
                 <div class="media-body"><a href="#">
                     <h5>Apporved our product in checking</h5></a>
                   <p>35k Sales</p>
                 </div>
               </div>
             </td>
             <td><span class="badge badge-light-theme-light font-theme-light">2 hours ago</span></td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
 </div>