<div class="tab-content" id="pills-tabContent">
   <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
     <div class="buy-sell-form"> 
       <form>                   
         <div class="form-group">
           <div class="small-group">
             <label> Amount</label>
             <div class="input-group">
               <input class="form-control" type="text" placeholder="7,904.65"><span class="input-group-text bg-transparent">USD</span>
             </div>
           </div>
           <div class="small-group">                                  
             <div class="convert-img text-center">
              <svg-icon src="assets/svgIcon/exchange.svg"></svg-icon>
             </div>
           </div>
           <div class="small-group">                                  
             <div class="dropdown">
               <div class="dropdown-toggle">Monthly  </div>
               <ul class="dropdown-menu">
                 <li> <a class="dropdown-item">Monthly  </a></li>
                 <li> <a class="dropdown-item">Yearly</a></li>
                 <li> <a class="dropdown-item">Weekly</a></li>
               </ul>
             </div>
             <div class="input-group">
               <input class="form-control" type="text" placeholder="30"><span class="input-group-text bg-transparent">BTC</span>
             </div>
           </div>
         </div>
         <div class="form-group d-block mb-0">
           <label> Total   </label>
           <div class="input-group">
             <input class="form-control" type="text" placeholder="58794,53"><span class="input-group-text bg-transparent">TUSD</span>
           </div>
         </div>
         <div class="form-group mb-0">
           <div class="btn btn-primary btn-block text-center"><a href="e-commerce/pricing">Buy  Now!</a></div>
         </div>
       </form>
     </div>
   </div>
 </div>