<div class="card pb-0 o-hidden earning-card">
   <div class="card-header earning-back"></div>
   <div class="card-body p-0">
     <div class="earning-content"><img class="img-fluid" src="assets/images/avatar.jpg" alt=""><a href="blog/blog-single">
         <h4>Today's Earning</h4></a><span>(Mon 15 - Sun 21)</span>
       <h6>$573.67</h6>
       <div id="earning-chart">
        <apx-chart
        [series]="earning.series"
        [chart]="earning.chart"
        [stroke]="earning.stroke"
        [annotations]="earning.annotations"
        [colors]="earning.colors"
        [yaxis]="earning.yaxis"
        [xaxis]="earning.xaxis"
        [legend]="earning.legend"
        [tooltip]="earning.tooltip" 
        [dataLabels]="earning.dataLabels"
        [grid]="earning.grid"
        [responsive]="earning.responsive">
      </apx-chart>
       </div>
     </div>
   </div>
 </div>