<div class="card">
    <div class="widget-feedback card-body">
      <div class="feedback-top text-center">
        <svg-icon src="assets/svgIcon/feedback.svg"></svg-icon>
        <h3>Customer Feedback</h3>
        <h6 class="font-roboto f-w-400">385749</h6>
      </div>
      <div id="feedback-chart"></div>
      <ul>
        <li class="font-roboto">
          <h4>Positive</h4>
          <h5 class="font-success">90%</h5>
        </li>
        <li class="font-roboto">
          <h4>Negative</h4>
          <h5 class="font-danger">10%</h5>
        </li>
      </ul>
    </div>
  </div>