<div class="card cripto-chat">
   <div class="card-header card-no-border">
     <div class="media media-dashboard">
       <div class="media-body"> 
         <h5 class="mb-0">Chat   </h5>
       </div>
       <div class="icon-box onhover-dropdown"> <app-feather-icon [icon]="'more-horizontal'"></app-feather-icon>
         <div class="icon-box-show onhover-show-div">
           <ul> 
             <li> <a>
                  Latest </a></li>
             <li> <a>
                  Earlist  </a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
   <div class="card-body pt-0">
     <div class="chat"> 
       <div class="media left-side-chat">
         <div class="square-box"> <a href="users/users-profile"><img src="assets/images/avtar/chat-user-1.png" alt=""></a></div>
         <div class="media-body"> 
           <div class="msg-box"> Project has been already finished and i have results to show you. </div>
         </div>
       </div>
       <div class="media right-side-chat">
         <div class="media-body"> 
           <div class="msg-box"> Well I am not sure. The rest of the team is not here yet<img class="img-fluid" src="assets/images/crypto-dashboard/emoji.png" alt=""></div>
         </div>
         <div class="square-box ms-2"><a href="users/users-profile"> <img src="assets/images/avtar/chat-user-2.png" alt=""></a></div>
       </div>
       <div class="media left-side-chat">
         <div class="square-box"><a href="users/users-profile"> <img src="assets/images/avtar/chat-user-1.png" alt=""></a></div>
         <div class="media-body image-swipe">
           <div class="my-gallery gallery" itemscope="">
             <div class="d-flex">
               <figure class="inner-img m-l-15" itemprop="associatedMedia" itemscope=""><a href="assets/images/dashboard-2/rectangle-26.png" target="_blank" itemprop="contentUrl" data-size="950x950"><img class="img-fluid" src="assets/images/dashboard-2/rectangle-26.png" itemprop="thumbnail" alt="Image description"></a>
                 <figcaption itemprop="caption description" class="d-none">Image caption  1</figcaption>
               </figure>
               <figure class="inner-img m-l-15" itemprop="associatedMedia" itemscope=""><a href="assets/images/dashboard-2/rectangle-27.png" target="_blank" itemprop="contentUrl" data-size="950x950"><img class="img-fluid" src="assets/images/dashboard-2/rectangle-27.png" itemprop="thumbnail" alt="Image description"></a>
                 <figcaption itemprop="caption description" class="d-none">Image caption  2</figcaption>
               </figure>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="input-group">
       <div class="input-group-text bg-primary"><img src="assets/images/crypto-dashboard/emoji.png" alt=""></div>
       <input class="form-control" type="text" placeholder="Type a message.....">
       <div class="input-group-text bg-primary">                        <i class="font-white" data-feather="send"></i></div>
     </div>
   </div>
 </div>