<div class="default-according style-1 faq-accordion job-accordion">
   <div class="row">
     <div class="col-xl-12">
        <app-about-me></app-about-me>
     </div>
     <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
       <app-followers></app-followers>
     </div>
     <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
       <!--<app-followings></app-followings>-->
     </div>
     <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
       <!--<app-latest-photos></app-latest-photos>-->
     </div>
     <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
       <!--<app-fri></app-fri>-->
     </div>
   </div>
 </div>