<div class="card weekly-column">
   <div class="card-body p-0">
     <div id="weekly-chart">
      <apx-chart
        [series]="weeklyChart.series"
        [chart]="weeklyChart.chart"
        [plotOptions]="weeklyChart.plotOptions"
        [grid]="weeklyChart.grid"
        [dataLabels]="weeklyChart.dataLabels"
        [fill]="weeklyChart.fill" 
        [legend]="weeklyChart.legend"
        [states]="weeklyChart.states"
        [colors]="weeklyChart.colors" 
        [yaxis]="weeklyChart.yaxis"
        [xaxis]="weeklyChart.xaxis"
        [responsive]="weeklyChart.responsive">
      </apx-chart> </div>
   </div>
 </div>